@media (max-width: 993px) {
    .navbar-default .navbar-nav>li>a{
        color:#fff;
    }
    #navbar > ul > li > ul > li > a{
        color:#fff;
    }
    .navbar-default .navbar-nav>li:hover{
        background-color:#fff;
    }
    .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
        color:#333;
    }
    #navbar > ul > li > ul{
        text-indent: 40px;
    }
    .navbar-header .navbar-brand .navbar-default{
        color: #fff !important;
    }
    .navbar-default .navbar-brand {
        color: #fff !important;
    }
    .navbar-default .navbar-toggle{
        color:#fff !important;
    }
    .navbar-default .navbar-toggle .icon-bar{
        background-color: #fff;
    }
    h1,h2,h3{
        word-wrap: break-word;
    }
    .region-sidebar-first, #page-closure, .share, .navbar3, #header, #breadcrumb-wrapper, #block-block-216, iframe, #block-block-103{
        display:none;
    }
    a{
        word-wrap: break-word;
    }
    blockquote{
        word-wrap: break-word;
    }
}